:host {
  /* For debugging */
  background-color: #e6fcca;

  /* Base styles */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  /* Customizable */
  height: var(--emoji-stockbook-height, 450px);
}
