.grid {
  display: grid;
  grid-template-columns: repeat(var(--esb-col), var(--esb-cell-size));
  gap: var(--esb-cell-gap);
}

.grid * {
  display: block;
  width: var(--esb-cell-size);
  height: var(--esb-cell-size);
}
